# Dev environment
.direnv

# Build output
target

# Test output
test-output

# Local config for quick iteration
TestConfig.toml

# Runtime artifacts
auth.secret
collection.index
polaris.log
polaris.ndb
polaris.pid
profile.json
/peaks
/thumbnails

# Release process artifacts (usually runs on CI)
release
*.res
