# Build output
target

# Test output
test-output

# Profiler output when using the `profile-index` feature
profile-index.html

# Local config for quick iteration
TestConfig.toml

# Runtime artifacts
*.sqlite
thumbnails

# Release process artifacts (usually runs on CI)
release
*.res
