# Build output
target

# Test output
test-output

# Local config for quick iteration
TestConfig.toml

# Runtime artifacts
*.sqlite
/thumbnails

# Release process artifacts (usually runs on CI)
release
*.res
