[package]
name = "polaris"
version = "0.12.4"
authors = ["Antoine Gersant <antoine.gersant@lesforges.org>"]
edition = "2018"

[features]
default = ["service-actix"]
ui = ["uuid", "winapi"]
profile-index = ["flame", "flamer"]
service-actix = ["actix-files", "actix-web", "futures-util"]
service-rocket = ["rocket", "rocket_contrib"]

[dependencies]
actix-files = { version = "0.4", optional = true }
actix-web = { version = "3", optional = true }
anyhow = "1.0.31"
ape = "0.3.0"
base64 = "0.12.1"
crossbeam-channel = "0.4"
diesel = { version = "1.4.4", features = ["sqlite", "r2d2"] }
diesel_migrations = { version = "1.4", features = ["sqlite"] }
flame = { version = "0.2.2", optional = true }
flamer = { version = "0.4", optional = true }
futures-util = { version = "0.3", optional = true }
getopts = "0.2.15"
id3 = "0.5.1"
image = "0.23.4"
libsqlite3-sys = { version = "0.16", features = ["bundled-windows"] }
rustfm-scrobble = "^1"
lewton = "0.10.1"
log = "0.4.5"
metaflac = "0.2.3"
mp3-duration = "0.1.9"
mp4ameta = "0.7.1"
opus_headers = "0.1.2"
pbkdf2 = "0.4"
rand = "0.7"
rayon = "1.3"
regex = "1.3.9"
reqwest = "0.9.2"
rocket = { version = "0.4.5", optional = true }
rust-crypto = "0.2.36"
serde = { version = "1.0.111", features = ["derive"] }
serde_derive = "1.0.111"
serde_json = "1.0.53"
simplelog = "0.8.0"
thiserror = "1.0.19"
time = "0.1"
toml = "0.5"
url = "2.1"

[dependencies.rocket_contrib]
version = "0.4.5"
default_features = false
features = ["json", "serve"]
optional = true

[target.'cfg(windows)'.dependencies]
uuid = { version="0.8", optional = true }
winapi = { version = "0.3.3", features = ["winuser", "libloaderapi", "shellapi", "errhandlingapi"], optional = true }

[target.'cfg(unix)'.dependencies]
sd-notify = "0.1.0"
unix-daemonize = "0.1.2"

[dev-dependencies]
percent-encoding = "2.1"
cookie = "0.14.0"
http = "0.2.1"

[profile.release.build-override]
opt-level = 0
