[package]
name = "polaris"
version = "0.7.1"
authors = ["Antoine Gersant <antoine.gersant@lesforges.org>"]

[features]
ui = []

[dependencies]
ape = "0.1.2"
app_dirs = "1.1.1"
diesel = { git = "https://github.com/diesel-rs/diesel", rev = "034049d", features = ["sqlite"] }
diesel_codegen = { version = "0.16.0", features = ["sqlite"] }
error-chain = "0.11.0"
getopts = "0.2.15"
hyper = "0.11.2"
id3 = "0.2.0"
image = "0.15.0"
iron = "0.5.1"
lewton = "0.6.2"
metaflac = "0.1.7"
mount = "0.3.0"
params = { git = "https://github.com/euclio/params", branch="update" }
rand = "0.3.15"
regex = "0.2.2"
ring = "0.11.0"
reqwest = "0.6.2"
router = "0.5.1"
secure-session = "0.2.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
staticfile = "0.4.0"
toml = "0.4.5"
typemap = "0.3"
url = "1.2.0"
log = "0.3.8"
simplelog = "0.4.2"

[dependencies.rusqlite]
version = "0.12.0"
features = ["bundled"]

[target.'cfg(windows)'.dependencies]
winapi = { git = "https://github.com/retep998/winapi-rs", branch="0.2" }
kernel32-sys = { git = "https://github.com/retep998/winapi-rs", branch="0.2" }
shell32-sys = { git = "https://github.com/retep998/winapi-rs", branch="0.2" }
user32-sys = { git = "https://github.com/retep998/winapi-rs", branch="0.2" }
uuid = "0.5.0"

[target.'cfg(unix)'.dependencies]
unix-daemonize = "0.1.2"
