<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name='Polaris' Id='377AFBE0-CB1A-48FF-94B5-344FE08B4F5E' UpgradeCode='959B405D-1553-411D-A4A2-CCD3E17BE0EC' Language='1033' Codepage='1252' Version='0.3.0' Manufacturer='Antoine Gersant'>

		<Package Id='*' Keywords='Installer' Platform='x64' InstallPrivileges='elevated' InstallScope='perMachine' Description='Polaris Installer' Manufacturer='Antoine Gersant' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

		<MajorUpgrade DowngradeErrorMessage='A newer version of Polaris is already installed.' Schedule='afterInstallExecute' />

		<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='Installation Media #1' />
		<Property Id='DiskPrompt' Value='Polaris Installation [1]' />

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFiles64Folder' Name='PFiles'>
				<Directory Id='INSTALL_DIR' Name='Polaris' FileSource='.'>

					<Component Id='MainExecutable' Guid='4E27209A-48B6-4A2A-8778-6383C83F0B24'>
						<File Source='polaris.exe' KeyPath='yes' Checksum='yes'>
							<Shortcut Id='StartupMenuPolaris' Directory='StartupFolder' Name='Polaris' WorkingDirectory='INSTALL_DIR' Icon='polaris.exe' IconIndex='0' Advertise='yes' />
							<Shortcut Id='StartMenuPolaris' Directory='ProgramMenuDir' Name='Polaris' WorkingDirectory='INSTALL_DIR' Icon='polaris.exe' IconIndex='0' Advertise='yes' />
							<Shortcut Id='DesktopPolaris' Directory='DesktopFolder' Name='Polaris' WorkingDirectory='INSTALL_DIR' Icon='polaris.exe' IconIndex='0' Advertise='yes' />
						</File>
					</Component>						

					<Component Id='OpenSSLLibEAY' Guid='8F4A07F6-CADB-4001-92F6-C7184A053B3B'>
						<File Id='LibEAY' Name='libeay32.dll' Source='libeay32.dll' />
					</Component>

					<Component Id='OpenSSLLibEAYmd' Guid='55E2AD65-293D-44BE-96C5-F61EE169478B'>
						<File Id='LibEAYmd' Name='libeay32md.dll' Source='libeay32md.dll' />
					</Component>

					<Component Id='OpenSSLSSLEAY32md' Guid='9E115DA4-26F3-4993-BC6D-3140CBA3EF5E'>
						<File Id='SSLEAY32md' Name='ssleay32md.dll' Source='ssleay32md.dll' />
					</Component>

					<Directory Id='web' Name='web'>

						<Component Id='WebUIFavicon' Guid='65D5A87D-5A5C-4655-9F74-F37F4F64BB6E'>
							<File Name='favicon.png' />
						</Component>

						<Directory Id='img' Name='img'>
							<Component Id='WebUIImg' Guid='343BDE12-EE3E-4659-A9F8-A217B933FBF2'>
								<File Name='logo.png' />
							</Component>
						</Directory>

						<Component Id='WebUIIndex' Guid='B666CED5-951E-40F4-8A33-E9C4FEEFF578'>
							<File Name='index.html' />
						</Component>

						<Directory Id='js' Name='js'>
							<Component Id='WebUIJSUtils' Guid='D5C12922-182A-4AE9-B863-D7ACA7FC2357'>
								<File Name='utils.js' />
							</Component>
							<Component Id='WebUIJSNotify' Guid='0D6CDA89-2F75-487D-B14D-FCE27DE31215'>
								<File Name='notify.js' />
							</Component>
						</Directory>

						<Directory Id='lib' Name='lib'>
							<Component Id='WebUILibCookie' Guid='294ECB0A-2CE7-4F1F-852C-FA81E6082B4C'>
								<File Name='js.cookie.js' />
							</Component>
							<Component Id='WebUILibRiot' Guid='460200A1-6926-4FA9-98D5-A9F72555FBFC'>
								<File Name='riot+compiler.min.js' />
							</Component>
						</Directory>						

						<Directory Id='tags' Name='tags'>
							<Component Id='WebUITagsAuth' Guid='E1058E84-EC96-4CD8-8E51-DBB1F2DAA593'>
								<File Name='auth.tag' />
							</Component>
							<Component Id='WebUITagsBreadcrumbs' Guid='EA2F36E1-6182-4249-A612-06D74B491AD7'>
								<File Name='breadcrumbs.tag' />
							</Component>
							<Component Id='WebUITagsBrowser' Guid='576EB281-3BB8-48BC-8221-F63D674C99F3'>
								<File Name='browser.tag' />
							</Component>
							<Component Id='WebUITagsMain' Guid='B85532D1-B288-48C5-872D-31078949DFB7'>
								<File Name='main.tag' />
							</Component>
							<Component Id='WebUITagsPlayer' Guid='AE56FB97-E933-4369-9680-E05F89CAA01A'>
								<File Name='player.tag' />
							</Component>
							<Component Id='WebUITagsPlaylist' Guid='4E1E08A5-494F-4230-879C-2187706E8CEA'>
								<File Name='playlist.tag' />
							</Component>
						</Directory>

						<Directory Id='style' Name='style'>
							<Component Id='WebUIStyle' Guid='9D8F839D-7E94-4DE4-9B22-30360C1A433D'>
								<File Name='default.css' />
							</Component>
						</Directory>

					</Directory>
				</Directory>
			</Directory>

			<Directory Id='CommonAppDataFolder'>
  				<Directory Id='AppDataPolaris' Name='Polaris'>
					<Component Id='ConfigFile' Guid='FAF6D040-CFA2-4C56-B5EB-C8A3054294E0'>
						<File Source='polaris.toml'>
							<Permission GenericAll='yes' User='Everyone' />
						</File>
						<RemoveFolder Id='RemoveAppDataPolaris' Directory='AppDataPolaris' On='uninstall' />
					</Component>
  				</Directory>
			</Directory>

			<Directory Id='DesktopFolder' Name='Desktop' />
			<Directory Id='StartupFolder' Name='Startup' />

			<Directory Id='ProgramMenuFolder' Name='Programs'>
				<Directory Id='ProgramMenuDir' Name='Polaris'>
					<Component Id='ProgramMenuDir' Guid='9E677DF0-414B-481F-ACCC-73B2A38EC93A'>
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\Polaris' Name='ProgramMenuEntry' Type='string' Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>

		</Directory>

		<!--Remove extra files after uninstall (db, thumbnails, etc.)-->
		<Property Id="EXTRADATAPATH">
  			<RegistrySearch Root="HKLM" Key="SOFTWARE\Polaris" Name="ExtraDataPath" Type="raw" Id="ExtraDataPathSearch" />
		</Property>
		<DirectoryRef Id="AppDataPolaris">
			<Component Id="CleanupExtraData" Guid="A74F0BA0-797F-4088-AF43-E7874AE679C7">
				<RegistryValue Root="HKLM" Key="SOFTWARE\Polaris" Name="ExtraDataPath" Type="string" Value="[AppDataPolaris]" KeyPath="yes" />
    			<util:RemoveFolderEx On="uninstall" Property="EXTRADATAPATH" />
  			</Component>
		</DirectoryRef>

		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='MainExecutable' />
			<ComponentRef Id='OpenSSLLibEAY' />
			<ComponentRef Id='OpenSSLLibEAYmd' />
			<ComponentRef Id='OpenSSLSSLEAY32md' />
			<ComponentRef Id='ConfigFile' />
			<ComponentRef Id='WebUIFavicon' />
			<ComponentRef Id='WebUIImg' />
			<ComponentRef Id='WebUIIndex' />
			<ComponentRef Id='WebUIJSUtils' />
			<ComponentRef Id='WebUIJSNotify' />
			<ComponentRef Id='WebUILibCookie' />
			<ComponentRef Id='WebUILibRiot' />
			<ComponentRef Id='WebUIStyle' />
			<ComponentRef Id='WebUITagsAuth' />
			<ComponentRef Id='WebUITagsBreadcrumbs' />
			<ComponentRef Id='WebUITagsBrowser' />
			<ComponentRef Id='WebUITagsMain' />
			<ComponentRef Id='WebUITagsPlayer' />
			<ComponentRef Id='WebUITagsPlaylist' />
			<ComponentRef Id='ProgramMenuDir' />
			<ComponentRef Id='CleanupExtraData' />
		</Feature>

		<Icon Id='polaris.exe' SourceFile='polaris.exe' />
		<Property Id='ARPPRODUCTICON' Value='polaris.exe' />

		<Property Id='WIXUI_INSTALLDIR' Value='INSTALL_DIR' />
		<UIRef Id='WixUI_Minimal' />
		<WixVariable Id='WixUILicenseRtf' Value='license.rtf' />
		<WixVariable Id='WixUIDialogBmp' Value='dialog.bmp' />
		<WixVariable Id='WixUIBannerBmp' Value='banner.bmp' />

	</Product>
</Wix>
