name: Build

on:
  pull_request:
  push:

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        features: ["", --features ui]

    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --release ${{ matrix.features }}
