name: Build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        features: [--all-features, --features default]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Install libsqlite3-dev
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get update && sudo apt-get install libsqlite3-dev
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
        default: true
    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --release ${{ matrix.features }}
