name: Test Coverage

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Measure Test Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Polaris
        uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: llvm-tools-preview
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Gather coverage results
        run: cargo llvm-cov --codecov --output-path codecov.json
      - name: Upload Results
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true
          verbose: true
